body
{
  color: white;
  background: #90948f;
}
span
{
  font-size: 30px;
}
#camera , #snapshot
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.header{
  border-radius: 20px;
  font-size: 30px;
  letter-spacing:10px;
}
label{
  font-size: 18px;
  background-color:white;
  border-radius: 20px;
  padding:10px;
  color:black;
}